@import "https://fonts.googleapis.com/css?family=Roboto:100,300,400";
@import "https://fonts.googleapis.com/css?family=Lato";
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }
  body .hidden, html .hidden {
    display: none; }
  body .m-p-zero, html .m-p-zero {
    margin: 0 !important;
    padding: 0 !important; }
  body .float-right, html .float-right {
    float: right; }
  body .flex, html .flex {
    display: flex; }
  body .title, html .title {
    font-weight: bold !important; }
  body .secondary-content, html .secondary-content {
    color: #263949; }
  body .btn-Add, html .btn-Add {
    background-color: #263949; }
    body .btn-Add:hover, html .btn-Add:hover {
      background-color: #6188a9; }
  body #btn-Post, html #btn-Post {
    width: 100%;
    height: 30px;
    background-color: #263949;
    color: white;
    padding: 30px; }
  body .main-color-button, html .main-color-button {
    background-color: #263949;
    margin-top: 15px;
    float: right;
    margin-right: 20px; }
    body .main-color-button:hover, html .main-color-button:hover {
      background-color: #263949; }

#sideMenu {
  height: 100vh;
  background-color: #263949;
  color: #fff;
  padding-left: 0px;
  padding-right: 0px; }
  #sideMenu #menu {
    height: -webkit-calc(100% - 15px);
    height: -moz-calc(100% - 15px);
    height: calc(100% - 15px);
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #2f4050; }
    #sideMenu #menu .item-menu {
      height: 40px;
      line-height: 40px;
      padding-left: 25px; }
      #sideMenu #menu .item-menu a {
        color: #a7b1c2;
        text-decoration: none; }
      #sideMenu #menu .item-menu:hover {
        background-color: #263949;
        color: #fff; }
        #sideMenu #menu .item-menu:hover a {
          color: #fff; }
      #sideMenu #menu .item-menu .material-icons {
        margin-right: 10px !important; }
  #sideMenu #user-info {
    text-align: center; }
    #sideMenu #user-info .img {
      width: 50px;
      margin-top: 30px; }

#content {
  height: 100vh;
  background-color: #f3f3f4;
  color: #6f7274;
  overflow: scroll; }
  #content #header {
    background-color: #fff;
    color: #263949;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; }
    #content #header .message {
      display: flex;
      justify-content: flex-start; }
      #content #header .message p {
        font-family: 'Roboto'; }
    #content #header .icons {
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      #content #header .icons .icon {
        margin-left: 15px; }
  #content .card {
    background-color: #fff;
    color: #a7b1c2;
    font-weight: 200; }
  #content #PostsOptions {
    margin-right: 30px;
    margin-bottom: 15px; }
  #content .newPostBg {
    background-color: #fff !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 20px;
    /* label color */
    /* label focus color */
    /* label underline focus color */
    /* valid color */
    /* invalid color */
    /* icon prefix focus color */ }
    #content .newPostBg .input-field label {
      color: #263949; }
    #content .newPostBg .input-field input[type=text]:focus + label {
      color: #263949; }
    #content .newPostBg .input-field input[type=text]:focus {
      border-bottom: 1px solid #263949;
      box-shadow: 0 1px 0 0 #263949; }
    #content .newPostBg .input-field input[type=text].valid {
      border-bottom: 1px solid #263949;
      box-shadow: 0 1px 0 0 #263949; }
    #content .newPostBg .input-field input[type=text].invalid {
      border-bottom: 1px solid #263949;
      box-shadow: 0 1px 0 0 #263949; }
    #content .newPostBg .input-field .prefix.active {
      color: #263949; }

/*# sourceMappingURL=style.css.map */
